<?xml version="1.0"?>

<launch>
  <arg name="map" />

  <node name="goals_publisher" pkg="crazyflie_goals_publisher" type="goals_publisher" output="screen">
      <param name="map" value="$(arg map)" />
      <param name="rate" value="10" />
      <param name="splinesMode" value="False" />

      <!--All params are measured in meters-->
      <param name="worldWidth" value="2.4" />
      <param name="worldLength" value="2.4" />
      <param name="worldHeight" value="2.4" />

      <param name="regWidth" value="0.4" />
      <param name="regLength" value="0.4" />
      <param name="regHeight" value="0.8" />

      <!--If there are negative coordinates then fix them-->
      <param name="offsetOX" value="0.0" />
      <param name="offsetOY" value="0.0" />
      <param name="offsetOZ" value="0.0" />
  </node>
</launch>
