<?xml version="1.0"?>
<launch>
  <arg name="server" default="10.2.16.54" />
  <arg name="port" default="3883" />

  <arg name="uri" default="radio://0/100/2M/E7E7E7E704" />
  <arg name="frames" default="crazyflie4" />

  <arg name="x" default="1" />
  <arg name="y" default="1" />
  <arg name="z" default="1" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_add_group.launch">
    <arg name="uri" value="$(arg uri)" />
    <arg name="tf_prefixes" value="$(arg frames)" />
    <arg name="enable_logging" value="True" />
  </include>

  <node name="keyboard" pkg="crazyflie_input_devices" type="keyboard" output="screen" />

  <include file="$(find crazyflie_controller)/launch/controller.launch">
    <arg name="frames" value="$(arg frames)" />
  </include>

  <node name="pose" pkg="crazyflie_demo" type="publish_pose.py" output="screen">
    <param name="name" value="/crazyflie4/goal" />
    <param name="rate" value="10" />
    <param name="x" value="$(arg x)" />
    <param name="y" value="$(arg y)" />
    <param name="z" value="$(arg z)" />
  </node>

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn" output="screen" required="true">
    <rosparam subst_value="true">
      server: $(arg server)
      port: $(arg port)
      update_frequency: 50.0
      frame_id: /world
      child_frame_id: $(arg frames)
      use_server_time: false
      broadcast_tf: true
      refresh_tracker_frequency: 1.0
   </rosparam>
  </node>
</launch>
