<?xml version="1.0"?>
<launch>
  <arg name="server" default="10.2.16.54" />
  <arg name="port" default="3883" />

  <arg name="uri" />
  <arg name="frames" />
  <arg name="map" default="" />

  <param name="/swarm/frames" value="$(arg frames)" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_add_group.launch">
    <arg name="uri" value="$(arg uri)" />
    <arg name="enable_logging" value="True" />
  </include>

  <node name="keyboard" pkg="crazyflie_input_devices" type="keyboard" output="screen" />
  
  <node name="perception_neuron_tf_broadcaster" pkg="perception_neuron_tf_broadcaster_node" type="perception_neuron_tf_broadcaster_node" output="screen" />

  <include file="$(find crazyflie_controller)/launch/controller.launch" />

  <include file="$(find crazyflie_goals_publisher)/launch/goals_publisher.launch">
    <arg name="map" value="$(arg map)" />

    <!--Splines mode is incompatible with controlled flight!-->
    <arg name="splinesMode" value="False" />
  </include>

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn" output="screen" required="true">
    <rosparam subst_value="true">
      server: $(arg server)
      port: $(arg port)
      update_frequency: 100.0
      frame_id: /world
      use_server_time: false
      broadcast_tf: true
      refresh_tracker_frequency: 1.0
   </rosparam>
  </node>
</launch>
